---
import HoverCard from "./HoverCard.astro";
---

<HoverCard />
<footer>
  <div>
    <h3>Footer</h3>
  </div>
</footer>

<style>
    footer {
        padding: 4rem 0;
        background: #33cfcc;
    }
</style>
