<section>
  <div>
    <h1>Welcome to The Frontpage!</h1>
    <button>Learn more about this</button>
  </div>
</section>

<style>
  section {
    min-height: 50vh;
  }
  h1 {
    margin: 0;
    font-size: 5rem;
  }
</style>
