<div class="animated-card-container">
  <div class="animated-card">
    <img src="https://fakeimg.pl/250x250/7bdbbd/969696" />
    <div>
      <h2>Animated Card</h2>
      <p>
        This is an animated card element, it will change perspective according
        to the users cursor position on the page.
      </p>
    </div>
  </div>
</div>
<style>
  .animated-card-container {
    display: flex;
    justify-content: center;
  }
  .animated-card {
    position: relative;
    top: 4rem;
    display: flex;
    self-align: center;
    gap: 2rem;
    max-width: 58rem;
    background: #88cf8c;
    padding: 0.5rem;
  }
</style>
